@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Itim&display=swap");
* {
  order: 1px solid red !important;
  box-sizing: border-box;
}
body {
  margin: 5rem 0;
  padding: 0;
  position: relative;
  background: hsl(0, 0%, 98%);
  font-family: "Comfortaa", cursive;
}
@mixin flexLayout($direction) {
  display: flex;
  flex-direction: $direction;
}
@mixin grid {
  display: grid;
  place-items: center;
}
@media (max-width: 460px) {
  #home {
    @include flexLayout(column);
    align-items: center;
    gap: 1.5rem;
    padding: 1.8rem 0;
    background: hsl(0, 0%, 90%);

    header {
      padding: 2rem 1rem;
      h1 {
        font-size: 1.5rem;
        text-align: center;
        color: #135bbf;
      }
    }
    section {
      @include flexLayout(column);
      gap: 1rem;
      padding: 5rem 1rem;
      width: 80%;
      background: hsl(0, 0%, 100%);
      border: 1px solid hsl(0, 0%, 30%);
      border-radius: 0.8rem;

      h3 {
        font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
        color: #13bf69;
      }
      p {
        font-weight: 500;
        text-align: center;
        color: #bf1321d2;
      }
      span {
        @include flexLayout(row);
        justify-content: space-around;

        .btn1 {
          border: 2px solid  #13bf69;
          border-radius: 0.2rem;
          height: 1.7rem;
          width: 5rem;
          background: transparent;
          color: hsl(0, 0%, 30%);
        }
        .btn1:hover,
        :focus {
          background:#13bf69;
          color: hsl(0, 0%, 100%);
          outline: 1px solid transparent;
        }
      }
    }
  }
  #home.hide {
    display: none;
  }

  .page2,
  .page3,
  .page4 {
    display: none;
    padding: 4rem 2rem;
    background: hsl(0, 0%, 90%);
    h4 {
      width: 100%;
      height: 8rem;
      padding: 2rem 0;
      text-align: center;
      font-size: 1.4rem;
      color: #135bbf;
    }
    h5{
      color: #13bf69;
    }
    p {
      font-size: 1rem;
      color: #bf1321e0;
    }
    span {
      @include flexLayout(row);
      gap: .5rem;
      padding: .7rem 0;
      
      .myInput {
        border: 0.2px solid hsl(0, 0%, 30%);
        border-radius: .4rem;
      }
      .myInput:hover,:focus {
        outline: transparent;
        background: hsl(0, 0%, 98%);
      }
      .submit {
        border: 2px solid  #13bf69;;
        border-radius: .29rem;
        background: hsl(0, 0%, 99%);
      }
      .submit:hover,:focus {
        outline: transparent;
        background: #13bf69;
        color: hsl(0, 0%, 90%);
      }
    }
    .next {
      width: 5rem;
      height: 1.7rem;
      margin-left: auto;
      margin-top: 2rem;
      border: none;
      border-radius: .25rem;
      background: #13bf69;
      text-align: center;
      color: hsl(0, 0%, 100%);
      font-family: "Comfortaa", cursive;
    }
    .next:hover,:focus {
      outline: 1px solid #13bf69;
      background: hsl(0, 0%, 100%);
      color: hsl(0, 0%, 10%);
    }
  }
  .page2.show,
  .page3.show,
  .page4.show {
    @include flexLayout(column);
  }
  .page2.hide,
  .page3.hide,
  .page4.hide {
    display: none;
  }
  footer {
    @include flexLayout(column);
    align-items: center;
    padding: 0 2rem;
    color: #135bbf;
  }
}
@media (min-width: 1240px) {
}
